---
title: "Rasmussen Lab"
layout: splash
permalink: /
header:
  overlay_color: #"#000"
  overlay_filter: #"0.5"
  overlay_image: /assets/images/header-scale-nerve-rgb.png
  cta_label: #"Download"
  cta_url: #"https://github.com/mmistakes/minimal-mistakes/"
  caption: #"Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: #"Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."
intro: 
  - excerpt: 'Welcome to the homepage of the Rasmussen Lab @ UW. Starting Fall 2018!'
feature_row:
  - image_path: assets/images/splash-axons-vessels-600.png
    image_caption: #"Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: #"placeholder image 1"
    title: "Projects"
    excerpt: #"This is some sample content that goes here with **Markdown** formatting."
    url: "/projects/"
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: /assets/images/splash-scales-YB-600.png
    alt: #"placeholder image 2"
    title: "People"
    excerpt: #"This is some sample content that goes here with **Markdown** formatting."
    url: "/people/"
    btn_label: "Meet the lab"
    btn_class: "btn--primary"
  - image_path: /assets/images/splash-axon-color-survey-600.png
    title: "Publications"
    excerpt: #"This is some sample content that goes here with **Markdown** formatting."
    url: "/publications/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

